<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @comp.address %>
</p>

<p>
  <strong>Street:</strong>
  <%= @comp.street %>
</p>

<p>
  <strong>Cross street 1:</strong>
  <%= @comp.cross_street_1 %>
</p>

<p>
  <strong>Cross street 2:</strong>
  <%= @comp.cross_street_2 %>
</p>

<p>
  <strong>Frontage:</strong>
  <%= @comp.frontage %>
</p>

<p>
  <strong>Ground:</strong>
  <%= @comp.ground %>
</p>

<p>
  <strong>Basement:</strong>
  <%= @comp.basement %>
</p>

<p>
  <strong>Mezz:</strong>
  <%= @comp.mezz %>
</p>

<p>
  <strong>Second:</strong>
  <%= @comp.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @comp.third %>
</p>

<p>
  <strong>Annual rent:</strong>
  <%= @comp.annual_rent %>
</p>

<p>
  <strong>Agent landlord company:</strong>
  <%= @comp.agent_landlord_company %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @comp.contact %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @comp.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @comp.email %>
</p>

<p>
  <strong>Term:</strong>
  <%= @comp.term %>
</p>

<p>
  <strong>History:</strong>
  <%= @comp.history %>
</p>

<p>
  <strong>Date:</strong>
  <%= @comp.date %>
</p>

<p>
  <strong>Updated date:</strong>
  <%= @comp.updated_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @comp.comments %>
</p>

<%= link_to 'Edit', edit_comp_path(@comp) %> |
<%= link_to 'Back', comps_path %>
